<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <style>
    html, body, iframe { height:100%; width:100%; margin:0; }
  </style>
</head>
<body>
  <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=<%= encodeURIComponent(url) %>" frameborder="0" allowfullscreen></iframe>
</body>
</html>